@media screen and (max-width: 840px) {
    .col-app-11 {
        width: 91.66666667%;
        margin: auto;
        font-size: 0.75rem;
    }
    .col-md-9{
        width: 91.66666667% !important;
    }
}
